.ipynb_checkpoints/
# Dagster local storage
**/.tmp_dagster_home*/
**/storage/
**/.dagster/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# virtual environments
.venv/
**/.tmp_dagster_home*/

# Dagster generated outputs
week-2&3/dg_pipeline/processed/asset_outputs/

# Local Dagster instance storage
week-2&3/dg_pipeline/.dagster_home/
week-2&3/dg_pipeline/.tmp_dagster_home*/week-2&3/data/processed/asset_outputs/
week-2&3/data/processed/*.csv
