MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=bike_rental_model_training

LAKEFS_ENDPOINT=http://127.0.0.1:8000
LAKEFS_ACCESS_KEY_ID=your_access_key_id
LAKEFS_SECRET_ACCESS_KEY=your_secret_access_key
LAKEFS_REPO=bike-rental
LAKEFS_BRANCH=main
LAKEFS_DATASET_PATH=engineered_model_data.csv
LAKEFS_COMMIT_ID=your_lakefs_commit_id